:root {
  --color-white: #FFF;
  --color-dark-blue: #131822;
}

.light {
  --bg-primary: var(--color-white);
}

.dark {
  --bg-primary: var(--color-dark-blue);
}

.text-primary {
  @apply text-black dark:text-white
}

.section {
  @apply mx-10vw lg:mx-auto max-w-screen-xl px-0 lg:px-12
}
