@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .avatar-big {
      width: 226px;
      height: 226px;
    }

    .avatar-small {
      width: 116px;
      height: 116px;
    }
  }
}
